Binaries/
DerivedDataCache/
Intermediate/
Plugins/Developer/
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
BuildGame/
*.DS_Store

.vsconfig
UpgradeLog*.htm
.idea
Plugins/Developer/RiderLink
.specstory
*.code-workspace
.clang-format
.clangd
git-rm-cache.bat
# SpecStory explanation file
.specstory/.what-is-this.md
